video {
    border: 0 !important;
    outline: 0 !important;
    transition: all 0.1s ease-in-out;
}

.hideSubs > .vjs-text-track-display {
    display: none !important;
}

.my-video img,
.vjs-poster {
    pointer-events: none;
}

.bright {
    filter: contrast(90%) brightness(110%);
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
    .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active
    .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-control-bar,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
    visibility: hidden;
    opacity: 0 !important;
    transform: translateY(3em);
    -webkit-backface-visibility: hidden;
    transition:
        opacity 0.5s ease,
        visibility 0.5s ease;
}

.vjs-text-track-cue div {
    background-color: #0006 !important;
    border-radius: 5px;
    padding: 5px;
}

.hidden {
    display: none;
    pointer-events: none;
}

body {
    overflow-y: scroll;
    background: #000;
    color: #fff;
    width: 100vw;
    overflow-x: hidden;
}

.movie img {
    width: 300px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    margin: 10px;
}

details {
    max-width: 100%;
    margin-bottom: 20px;
}

summary {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

.mname {
    padding: 1px 10px;
    line-height: 1.5;
}
